
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/


/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.border{
  border-radius: 5px;
  margin: .4em;
  padding: .3em;
  //max-width: 95%;
  //max-height:23vh;
}/*
.imgDescr{
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  //height: 6em;
}*/
.image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
object-fit: cover;
  width: 100px;
  height: 100px;
}
p{
  margin-left: 2em;
  width: 80%;
}
.modal-body{
  display: flex;
  flex-direction: column;
}
textarea{
  margin: .3em;
}
button{
  margin: .2em;
}
/*
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}
*/
